@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

* {
    font-family: 'Nunito',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    background-color: #f2f2f2;
    border: none;
    width: 100%;
    height: 2px;
}

div.text-heading h1 {
    overflow: hidden;
    border-right: 5px solid #65A1E9;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 1.5px;
    animation: 
      typing 2.7s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #65A1E9; }
  }

/* navbar */
nav.navbar {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

div.navbar-nav a.nav-link {
    font-size: 15px;
    margin-right: 30px;
    color: #cccccc !important;
}

div.navbar-nav a.nav-link.active {
    color: #65A1E9 !important;
    font-weight: 800;
}

div.navbar-nav a.nav-link:hover {
    color: #65A1E9 !important;
}

div.share-sosmed a {
    text-decoration: none;
}

div.share-sosmed a i:hover {
    color: #65A1E9 !important;
}

div.share-sosmed i {
    font-size: 20px;
    color: #cccccc;
}

button.navbar-toggler {
    border: none;
    color: #525252 !important;
}

/* hero */
section.hero div.container div.row {
    text-align: center;
}

section.hero div.container {
    background-color: #F8F8F8;
    height: 600px;
}

section.hero div.kiri {
    margin-top: 30px;
    text-align: center;
}

section.hero div.kiri h1 {
    font-size: 30px;
}

a.btn-cta {
    background-color: transparent;
    border: 2.5px solid #305D93;
    padding: 12px;
    color: #305D93 !important;
    font-size: 12px;
    font-weight: 700;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    text-decoration: none;
    text-align: center;
}

a.btn-cta:hover {
    background-color: #305D93;
    color: white !important;
}

a.btn-cta i {
    font-size: 18px;
}

section.hero div.kanan {
    margin-top: 30px;
    text-align: center;
}


section.hero div.container h4, section.hero div.container h1 {
    font-weight: 900;
    color: #4F4F4F;
}

section.hero div.container h1 span {
    color: #65A1E9;
    margin-top: 10px;
}

section.hero div.container p {
    font-size: 17px;
    font-weight: 600;
}

section.hero div.container p span {
    color: #65A1E9;
}

/* profil biodata */
section.profil-biodata img {
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
}

section h1.head-section {
    font-size: 50px;
    font-weight: 900;
    color: #f0f0f0;
}

section h2 {
    font-weight: 900;
    color: #65A1E9;
    margin-top: -50px;
}

section.profil-biodata h3 {
    font-weight: 800;
    font-size: 25px;
    color: #525252;
    text-align: center;
    margin-top: 20px;
}

section.profil-biodata p.quotes {
    color: #a7a7a7;
    text-align: center;
    font-size: 15px;
}

section.profil-biodata p i {
    color: #305D93;
    font-size: 25px;
}

section.profil-biodata h3 i {
    color: #305D93;
}

section.profil-biodata p {
    font-size: 15px;
    color: #525252;
}

a.instagram-reza {
    text-decoration: none;
    color: #65A1E9;
}

a.instagram-reza:hover {
    text-decoration: none;
    color: #305D93;
    font-weight: 600;
}

/* softskill hardskill */
div.garis-biru {
    width: 50px;
    height: 15px;
    background-color: #65A1E9;
    border-radius: 500px;
    margin-top: 4px;
    margin-right: 15px;
}

div.head-hard-soft-skill h5 {
    font-weight: 800;
    color: #525252;
}

div.list-skill p {
    color: #525252;
    font-weight: 600;
}

div.list-skill div.bintang i {
    color: #305D93;
    font-size: 15px;
}

div.list-ketertarikan {
    background-color: #f3f3f3;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.list-ketertarikan p {
    color: #305D93;
    font-weight: 600;
    margin-top: 12px;
}

/* pendidikan */
section.pendidikan {
    color: #525252;
}

section.pendidikan h5 {
    font-weight: 800;
}

div.list-pendidikan p.sekolah {
    font-weight: bold;
}

div.list-pendidikan small.tahun {
    padding: 11px;
    text-align: center;
    background-color: #305D93;
    color: white;
}

p.alamat {
    font-size: 15px;
}

/* footer */
footer {
    margin-top: 10px;
}

footer p {
    color: #525252;
    font-size: 12px;
}

footer p a {
    font-weight: 600;
    color: #65A1E9;
}

footer p a:hover {
    color: #305D93;
    text-decoration: none;
}

@media (min-width: 576px) {

    nav.navbar {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    section.hero div.container {
        height: 470px;
    }

    section.hero div.kiri {
        margin-top: 130px;
        text-align: left;
    }

    section.hero div.kiri div.text-heading {
        margin-left: 50px;
    }

    section.hero div.kiri h1 {
        font-size: 45px;
    }
    
    section.hero div.kanan {
        margin-top: 20px;
        text-align: center;
    }
    
    section h1.head-section {
        font-size: 60px;
    }

    section.profil-biodata h3 {
        font-size: 35px;
        text-align: left;
    }

    section.profil-biodata p.quotes {
        text-align: left;
        font-size: 17px;
    }

    section.profil-biodata p {
        font-size: 17px;
    }

    div.list-skill div.bintang i {
        font-size: 18px;
    }

    footer {
        margin-top: 40px;
    }

    footer p {
        font-size: 15px;
    }

}